#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;

}

#projects {
  height:100vw;
}
section {
  height: 100vh; /* each section fills the screen */
}
#home {
  padding: 0;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2vw;   /* ca 25px på 1280px bredd */
  height: 2vw;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.02); /* väldigt subtil */
  pointer-events: none;
  z-index: 0;
  filter: blur(5vw); /* massiv blur → mjukt glow */

  box-shadow:
          0 0 6vw 6vw rgba(255,255,255,0.02),
          0 0 12vw 6vw rgba(255,255,255,0.02),
          0 0 24vw 12vw rgba(255,255,255,0.02);

}

@media (max-width: 900px) {
  section {
    height: auto;
    min-height: 100vh;
    padding-top: 72px;
  }
  #projects {
    height: auto;
  }
  .custom-cursor {
    display: none;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 64px;
  }
}
