.degree{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 2vw;
    width: 100%;
}
.degreeInfo{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    color:#CBCBCB;
    font-size: 1.11vw;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: normal;
}
.degreeInfo p:first-child {
    justify-self: start;
    align-self: end;
    margin: 0;
}
.degreeNumber{
    justify-self: end;
    align-self: end;
    margin: 0;
}

.degreeBar{
    background: linear-gradient(90deg, #1A1B25,#10121C) ;
    width: 100%;
    height: 0.7vw;
    border-radius: 2vw;

}
.degreePerc {
    height: 100%;
    border-radius: 2vw;
}


@media (max-width: 900px) {
    .degree {
        height: auto;
        gap: 2vw;
    }
    .degreeInfo {
        font-size: 3.5vw;
        grid-template-columns: 1fr auto;
    }
    .degreeBar {
        height: 2.5vw;
    }
}

@media (max-width: 900px) {
    .degreeInfo {
        font-size: 3vw;
    }
    .degreeInfo p,
    .degreeNumber {
        font-size: 3vw;
    }
}
