.scrollIndicator {

    border-radius: 20vw;
    border: 1px solid #cbcbcb;
    width: 2vw;
    height: 4vw;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 100%;
    margin-bottom:2vw ;
    justify-self: center;

}
.scrollLine {
    height: 30%;
    border: 1px solid #cbcbcb;
    width:1px;
    border-radius: 20vw;
    background: #d9d9d9;
    opacity: 80%;

}
.Home {
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    align-items: end;
    height: 100vh;
     padding-bottom: 2vw;
}
.hero {
    text-align: center;
}
.heroHeader {
    font-size: 5vw;
    margin: 0;
    font-weight: 200;
    margin-bottom: 4vw;
    font-family: "Montserrat", monospace;
    text-align: center;
    position: relative;

    
}
@media (max-width: 900px) {
    .Home {
        grid-template-rows: auto auto;
        align-items: center;
        gap: 8vw;
        padding-top: 10vw;
    }
    .scrollIndicator {
        width: 6vw;
        height: 12vw;
        margin-bottom: 6vw;
    }
}

@media (max-width: 768px) {
    .scrollIndicator {
        width: 8vw;
        height: 16vw;
    }
}
