:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #CBCBCB;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color:#CBCBCB;
  text-decoration: none;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3vw;
  width: 0;
  height: 0.1vw;
  background: #7dd3fc;
  transition: width 0.3s ease;

}

a:hover::after {
  width: 100%;

}

html, body {
  overflow: auto; /* ensure scrolling is enabled */
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 4vw;
  line-height: 1.1;
  color: #CBCBCB;
}

html {
  scroll-behavior: smooth;
}



@media (max-width: 900px) {
  body {
    display: block;
  }
  h1 {
    font-size: 8vw;
  }
  a::after {
    bottom: -0.6vw;
    height: 0.3vw;
  }
}
