.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    height: 100%;
    grid-template-areas: "a b" "c d";
}

.skillsHeader {
    margin-bottom: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    grid-column: span 2;
}
.degreeContainer {
    grid-area: c;
    padding-left:5vw;
    width:40.7vw;
    display:grid;
    grid-template-rows:0.3fr 1fr;
    height:100%;
    grid-template-areas: "a" "b";
}
.degreeContainer h2 {
    grid-area: a;
    justify-self: start;
    font-size:1.8vw;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.degreeMap{
    grid-area: b;
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr;


}
.technicalContainer {
    grid-area: d;
    display: grid;
    grid-template-rows:0.3fr 1fr;

    grid-template-areas: "a" "b";
    padding-right:5vw;
    width:40.7vw;
    justify-self: end;
    height: auto;
}
.technicalContainer h2 {
    grid-area: a;
    justify-self: start;
    font-size:1.8vw;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.technical {
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap:1vw;
    grid-auto-rows: 3.33vw;

}
.technicalCard{
    background: linear-gradient(90deg, #1A1B25,#10121C) ;
    border-radius:0.55vw;
    height:3.33vw;
    align-content: center;
    color:#CBCBCB;
    font-size: 1.11vw;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    z-index: 2;
    box-shadow: -0.1vw -0.3vw 1vw rgba(47, 50, 61, 0.34);
}
@media (max-width: 900px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "a" "c" "d";
        gap: 6vw;
    }
    .skillsHeader {
        grid-column: span 1;
        font-size: 7vw;
    }
    .degreeContainer {
        padding-left: 0;
        width: 90vw;
        justify-self: center;
    }
    .degreeContainer h2 {
        font-size: 5vw;
    }
    .technicalContainer {
        padding-right: 0;
        width: 90vw;
        justify-self: center;
    }
    .technicalContainer h2 {
        font-size: 5vw;
    }
    .technical {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        grid-auto-rows: auto;
    }
    .technicalCard {
        height: auto;
        font-size: 3.5vw;
        padding: 2.5vw 3vw;
        border-radius: 2vw;
    }
}

@media (max-width: 768px) {
    .technical {
        grid-template-columns: 1fr;
    }
}
